@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

/*Variables used in the development of the site*/
:root{
    --navbar-ligth: #333333;
    --navbar-dark: #000000;
    --calorias-section-ligth: #ECECEC;
    --calorias-section-dark: #262626;
    --food-section-ligth: #E1F4F3;
    --food-section-dark: #404040;
    --text-ligth: #FFFFFF;
    --text-dark: #000000;
    --active-ligth: #7AF4EE;
    --active-dark: #7C7C7C;
}

/*Header*/

header{
    background-color: var(--navbar-ligth);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.1vh;
    height: 5vh;
    color: var(--text-ligth);
    size: large;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*Main*/
main{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-top: 5.5vh;
}
/*Food Section*/
.food-section{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--food-section-ligth);
}
/*Calories section*/
.calories-section{
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--calorias-section-ligth);
    font-size: larger;
}

.div-food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    height: 33vh;
    margin-top: 2vh;
}


.img-food-section{
    width: 20vh;
    height: auto;
    padding: 2vh;
}


.img-food-button:hover{
    background-color: #7AF4EE;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-food-selected{
    background-color: #7AF4EE;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-calories-section{
    width: 50vh;
    height: auto;
}

/*Footer*/
footer{
    background-color: var(--navbar-ligth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer a{
    text-decoration: none;
    text-transform: none;
    color: var(--text-ligth);
}